@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <style>
        body {
            background-image: url('https://images.pexels.com/photos/4295845/pexels-photo-4295845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
    <address>
        About Us...
        Our exclusive solutions pointing specifically,
        build specifically for you will help ease your business problems.
        Get the Problems to us, we have the tailor-made solutions!!!
    </address>

    <address>
        <strong>Support:</strong>   <a href="https://vhaashtech.com/">Address: 5th Floor, Viraj Complex, Chowk, above BeFit Gym, near Zeal College, Narhe, Pune, Maharashtra 411041</a><br />
        <strong>Marketing:</strong> <a href="https://vhaashtech.com/">"https://vhaashtech.com/"</a>
    </address>
</main>