
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<h2>This is a Contact page </h2>


<h2> View data data is = @ViewData["Var1"]</h2>
<h2> Viewbag data is = @ViewBag.Var2</h2>
<h2> Tempdata data is = @TempData["Var3"]</h2>
<h2> session  data is = @Session["Var4"]</h2>